VITE_API_BASE_URL=https://script.google.com/macros/s/AKfycbzaxsh2qK0T2vjgTmZtlehuGcJKqL75G36oa7v_HlhwLk9e3W4yJflnmwM9RhkdTfuB/exec
VITE_API_STYLE=apps-script
VITE_API_CACHE_BUST=
VITE_API_PREFIX=/api
VITE_AUTO_REFRESH_MS=30000
VITE_ROUTER_MODE=hash
VITE_BASE_PATH=/Monitoring/
